@charset "utf-8";

body {
  background-color: #191919;
  font-family: 'NanumSquareNeo-Variable', -apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
  color: #fff;
}
/******* 메뉴바 *******/
.main-menu .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7.813vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.75vw;
  transition: 0.4s;
  background-color: #191919;
  z-index: 1;
}
/******** 움직이는 원 ********/
.main-menu .circle {
  background: url(./image/little-star-white.png) no-repeat 50% / contain;
  width: 3.646vw;
  height: 3.646vw;
  list-style: none;
}
header .main-menu .circle {
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
/******* 메인 이름 *******/
.project-name {
  margin-top: 14.583vw;
  margin-left: 16.146vw;
  font-size: 5.208vw;
  text-transform: uppercase;
}
.project-name .team-javas {
  margin: 2.917vw 0 0 28.385vw;
  font-size: 4.688vw;
}
.project-name .team-javas li:last-child {
  margin-left: 2.083vw;
}
/******* 목표 *******/
.target {
  margin-top: 19.531vw;
}
.target-box {
  margin-left: 10.938vw;
}
.target h2 {
  font-size: 1.563vw;
  font-weight: bold;
}
.target .first {
  display: flex;
  align-items: center;
  margin: 1.563vw;
  font-size: 1.302vw;
  height: 4.479vw;
}
.target .first .expl li {
  margin: 1.042vw 0;
}
.target .first .silme img {
  width: 15vw;
  margin-left: 25.729vw;
  margin-bottom: 2.604vw;
}
/******* overview *******/
.target .overview {
  margin: 13.021vw 0 0 6.771vw;
}
.target .overview h3 {
  font-size: 2.083vw;
  text-transform: capitalize;
  margin-bottom: 3.646vw;
  font-weight: bold;
}
.target .overview img {
  width: 86.719vw;
}
.target .overview .introduce {
  margin-top: 4.167vw;
  font-size: 1.302vw;
}
.target .overview .introduce li {
  margin: 1.042vw 0;
}
.target .overview .introduce li:last-child {
  line-height: 1.5;
}
.target .overview .introduce span {
  margin-right: 2.5vw;
}
.target .overview .introduce .work span {
  margin-left: 5.99vw;
}
/******* Process *******/
.process-style-guide {
  margin-top: 25vw;
}
.process-style-guide .line {
  padding-top: 8.698vw;
  padding: 8.698vw 0 15.104vw 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.process-style-guide .process {
  margin-left: 10.417vw;
}
.process-style-guide .process h2 {
  font-size: 2.083vw;
  text-transform: capitalize;
  margin-bottom: 4.167vw;
  font-weight: bold;
}
.process-style-guide .process .process-text {
  margin-left: 20.833vw;
  font-size: 1.302vw;
}
.process-style-guide .process .process-text li {
  margin: 1.563vw 0;
}
/******* style-guide *******/
.style-guide h2 {
  margin: 9.375vw 0 5.729vw 10.417vw;
  font-size: 2.083vw;
  font-weight: bold;
  text-transform: capitalize;
}
/******* main-color 메인 컬러*******/
.style-guide .main-color {
  margin-left: 22.604vw;
}
.style-guide .main-color h4 {
  margin-bottom: 2.396vw;
  text-transform: capitalize;
  font-size: 1.458vw;
}
.style-guide .main-color .color-name {
  display: flex;
}
.style-guide .main-color .color-name li {
  border: 1px solid #fff;
  width: 5.052vw;
  height: 5.052vw;
  border-radius: 1.042vw;
  margin: 0 1.823vw;
  text-align: center;
  line-height: 7;
  text-transform: uppercase;
  font-size: 0.938vw;
}
.style-guide .main-color .color-name li:first-child {
  background-color: #ebebeb;
  border: none;
  color: #222;
  margin-left: 2.604vw;
}
.style-guide .main-color .color-name li:last-child {
  background-color: #fff;
  border: none;
  color: #222;
}
/******* fonts 폰트 크기******/
.process-style-guide {
  border-bottom: 1px solid #fff;
  padding-bottom: 9.375vw;
}
.process-style-guide .fonts {
  margin: 5.729vw 0 0 22.604vw;
}
.process-style-guide .fonts .fonts-flex {
  display: flex;
}
.process-style-guide .fonts h4 {
  font-size: 1.458vw;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 2.604vw;
}
.fonts .fonts-box {
  margin-left: 0.521vw;
}

/****** 공통 font-CSS *****/
.fonts .fonts-box .text {
  display: flex;
  align-items: center;
  margin: 1.042vw 0;
}
.fonts .fonts-box .text h5 {
  font-size: 1.302vw;
}

/******* fonts-text1 ******/
.fonts .fonts-box .fonts-text1 h5 {
  margin-right: 6.979vw;
}
.fonts .fonts-box .fonts-text1 .size40 {
  font-size: 2.083vw;
  margin: 0 0.833vw;
}
/******* fonts-text2 ******/
.fonts .fonts-box .fonts-text2 h5 {
  margin-right: 2.344vw;
}
.fonts .fonts-box .fonts-text2 .size36 {
  font-size: 1.875vw;
  margin: 0 0.833vw;
}
/******* fonts-text3 ******/
.fonts .fonts-box .fonts-text3 h5 {
  margin-right: 3.281vw;
}
.fonts .fonts-box .fonts-text3 .size30 {
  font-size: 1.563vw;
  margin: 0 0.833vw;
}
/******* fonts-text4 ******/
.fonts .fonts-box .fonts-text4 h5 {
  margin-right: 4.427vw;
}
.fonts .fonts-box .fonts-text4 .size30 {
  font-size: 1.563vw;
  margin: 0 0.833vw;
}
/******* fonts-text5 ******/
.fonts .fonts-box .fonts-text p {
  font-size: 0.938vw;
}
/******* fonts-2 서체******/
.fonts-2 {
  margin: 0.521vw 0 0 6.771vw;
  font-size: 1.302vw;
}
.fonts-2 .fonts-box2 {
  display: flex;
  align-items: center;
  margin-bottom: 1.198vw;
  text-transform: capitalize;
}
.fonts-2 .fonts-box2 h5 {
  margin-right: 1.563vw;
}
.fonts-2 .fonts-box2 p {
  margin-right: 1.563vw;
}
.fonts-2 .fonts-box2 .kr-font {
  margin-right: 3.542vw;
}
.fonts-2 .fonts-box2 .en-font {
  margin-left: 4.688vw;
}

/******* 퍼블리싱 ******/
.publishing {
  margin-top: 6.25vw;
  border-bottom: 1px solid #fff;
  padding-bottom: 9.896vw;
}
.publishing h2 {
  margin: 0 0 3.125vw 10.417vw;
  font-size: 2.083vw;
  font-weight: bold;
}
.publishing .guide {
  margin-left: 26.563vw;
}
.publishing .guide .guide-line {
  padding: 1.302vw 2.604vw;
  background-color: #fff;
  color: #222;
  font-size: 20px;
  font-weight: bold;
}
.publishing .guide .guide-line:hover {
  background-color: #222;
  color: #fff;
  transition: 0.3s;
}
.publishing .guide-text {
  margin-top: 3.385vw;
  font-size: 1.302vw;
}
.publishing .guide-text p {
  margin: 1.563vw 0;
}
.publishing .guide-text .technology {
  margin: 1.042vw 0 2.604vw;
  display: flex;
  align-items: center;
}
.publishing .guide-text .technology a {
  margin-left: 0.521vw;
  font-size: 1.042vw;
}
.publishing .guide-text .technology .arrow {
  background: url(./image/Arrow-left.png) no-repeat 50% / cover;
  margin: 0.313vw 2.188vw 0 0;
  width: 3.646vw;
  height: 0.521vw;
}
.publishing .guide-text .technology:hover .arrow {
  transform: translate(30px);
  transition: 0.5s;
}
.publishing .guide li img {
  width: 15vw;
}
.guide .rombo {
  display: flex;
}
.guide .rombo .rombo-img:last-child {
  margin-left: 20.313vw;
}

/******* 문제해결 ******/
.problem-box {
  margin-top: 11.458vw;
}
.problem-box .problem-text {
  font-size: 2.083vw;
  font-weight: bold;
  margin-left: 10.417vw;
}
.problem-box .problem h2 {
  font-size: 1.563vw;
  margin-bottom: 2.604vw;
  text-transform: capitalize;
}
.problem-box .problem {
  margin: 5.208vw 0 0 12.76vw;
}
.problem-box .problem .solve {
  display: flex;
  align-items: center;
  width: 76.563vw;
  margin-bottom: 5.208vw;
}
.problem-box .problem .box {
  border-bottom: 1px solid #fff;
}
.problem-box .problem .solve li {
  margin-left: 9.375vw;
  font-size: 1.302vw;
}
.problem-box .problem .solve li p {
  margin-bottom: 4.688vw;
  line-height: 1.5;
  text-transform: capitalize;
}
.problem-box .problem .solve img {
  width: 2vw;
  margin: 2.604vw 6.771vw 5.104vw 0;
}
.problem-box .problem .solve h3 {
  margin-bottom: 2.083vw;
}
.problem-box .problem .box1 img {
  margin-left: 4.688vw;
}
.problem-box .problem .file img {
  margin-left: 1.719vw;
}
/******* 부족한점 ******/
.good-bad {
  border-top: 1px solid #fff;
  padding-top: 8.854vw;
}
.good-bad .bad h2 {
  font-size: 2.083vw;
}
.good-bad .bad {
  margin-left: 10.417vw;
}
.good-bad .bad .bad-text {
  margin: 7.135vw 0 13.021vw 11.563vw;
  font-size: 1.302vw;
  line-height: 2;
}
/******* 잘한점 ******/
.good-bad .good {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 8.854vw 0 11.667vw;
}
.good-bad .good h2 {
  margin-left: 10.417vw;
  margin-bottom: 3.385vw;
  font-size: 2.083vw;
}
.good-bad .good .good-text {
  margin-left: 24.479vw;
  font-size: 1.302vw;
  line-height: 2.2;
  text-transform: capitalize;
}
.good-bad .good .good-text .read {
  font-size: 0.938vw;
  margin: 0 0 0.521vw 0.521vw;
}
/******* 배운점 ******/
.learn-review {
  margin-top: 8.854vw;
}
.learn-review .learn {
  border-bottom: 1px solid #fff;
  padding-bottom: 11.563vw;
}
.learn-review h2 {
  font-size: 2.083vw;
  margin-left: 10.417vw;
}
.learn-review .learn-box {
  margin: 3.125vw 0 0 33.854vw;
  font-size: 1.302vw;
  line-height: 2;
}
/******* 개인리뷰 ******/
.learn-review .review {
  margin-top: 8.854vw;
}
.learn-review .review .review-box {
  margin: 7.292vw 0 0 18.75vw;
  font-size: 1.302vw;
}
.learn-review .review .review-box li {
  margin-bottom: 2.604vw;
  line-height: 1.7;
}

/******** footer *********/
footer {
  margin-top: 15.625vw;
  color: #fff;
}
footer .slide {
  margin-bottom: 9.115vw;
}
/* footer slide */
.viewBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.leftbox,
.rightbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  margin: 0 20px;
}
.slideItem {
  font-size: 10vw;
  font-weight: 300;
  color: #fff;
  padding: 0 10px;
}
.slideBox {
  width: 400%;
  height: 12vw;
  display: flex;
  animation: flowText 20s linear infinite;
}
@keyframes flowText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/******** address *******/
footer .address {
  border-bottom: 2px solid #fff;
  width: 76.563vw;
  margin: 0 auto;
  font-size: 1.823vw;
}
footer .address p {
  width: 17.031vw;
  height: 3.802vw;
  margin: 0 auto;
  font-size: 1.042vw;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 4.167vw;
  line-height: 3.6;
  text-transform: uppercase;
}
footer .address .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .address .btn li {
  margin: 0 50px;
}
/****** 좌측 화살표 *******/
footer .address .btn .arrow-left {
  background: url(./image/Arrow-left.png) no-repeat 50% / contain;
  width: 5vw;
  height: 1vw;
  margin-bottom: 3.646vw;
}
/****** 우측 화살표 *******/
footer .address .btn .arrow-right {
  background: url(./image/Arrow-right.png) no-repeat 50% / contain;
  width: 5vw;
  height: 1vw;
  margin-bottom: 3.646vw;
}

/***** 버튼 이벤트 ******/
footer .address .btn p:hover {
  background-color: #ebebeb;
  color: #222;
  transition: 0.2s;
}

/****** 화살표 이벤트 ******/
footer .address .btn:hover .arrow-left {
  transform: translateX(50px);
  transition: 0.5s;
}
footer .address .btn:hover .arrow-right {
  transform: translateX(-50px);
  transition: 0.5s;
}

footer .top-going {
  display: flex;
  justify-content: space-between;
  margin-top: 5.729vw;
  height: 4.167vw;
  font-size: 1.302vw;
  padding: 0 11.979vw;
}
